---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cool Girl Stuff">
    <main>
        <h1>ARE YOU READY TO PARTY?</h1>
    </main>
    <div class="container">
        <div class="center">
            <form action="https://youtu.be/2GgiZZhO-PA?feature=shared" method="PUT">
                <button class="button-19" role="button">PARTY!</button>
            </form>
        </div>
    </div>
</Layout>

<style>
    .container {
  height: 200px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 100px;
		line-height: 1.6;
	}
  
  .button-19 {
  appearance: button;
  background-color: white;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: hotpink;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 20px 24px; /* Adjust padding values here */
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}


.button-19:after {
  background-clip: padding-box;
  background-color: whitesmoke;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.button-19:active {
  border-width: 4px 0 0;
  background: none;
}
</style>
