---
import type { any } from 'astro/zod';
import Layout from '../layouts/Layout.astro';
---

<Layout title="oh nooooooo!">
  <div class="silly">
    <h1>Why do you want to be evil? :( </h1>
  </div>
  <div class="container">
    <img
      src="/sad.jpg"
      width={600}
      height={600}
      alt="sad cat"
      class="center-image"
    />
  </div>
  <br>
  <br>
</Layout>

<style>
.container {
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add padding to the container */
}
.silly{
  text-align: center;
  color: white;
  font-size: 30px;
}
.center-image {
  display: block; /* Make the image a block-level element */
  margin: 0 auto; /* Center the image horizontally within its container */
}
</style>
