---

import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description = "Meow, girl!", image = "/images/baby.png" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/epic.png" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:image" content={image}/>
		<title>{title}</title>
	</head>
	<body class="min-h-screen">
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	body{
		background: rgb(250,190,230);
background: radial-gradient(circle, rgba(250,190,230,1) 0%, rgba(255,85,188,1) 100%);
	}
</style>